# vscode config files
.vscode

# Build folders
build
debug

# Visual Studio files
*.sln
*.vcxproj
*.vcxproj.filters
*.db
.vs/ProjetTest/v16/.suo
*.db-shm
*.db-wal
*.opendb
*.ipch
bibliotheque_cours/bibliotheque_cours.cpp
bibliotheque_cours/verification_allocation.cpp
include/bibliotheque_cours.hpp
include/CodeCoverage_bugfix.h
include/debogage_memoire.hpp
include/verification_allocation.hpp
ProjetTest.vcxproj.user
CMakeCache.txt
*.cmake
CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CompilerIdC.exe
CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.20.21032501-MSVC_2/VCTargetsPath.txt
CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CompilerIdCXX.exe
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeError.log
CMakeFiles/CMakeOutput.log
